<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161518534901-qdqlq2qrvf2qvgnhlh4ts2p2o13c9pv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161518534901-qdqlq2qrvf2qvgnhlh4ts2p2o13c9pv3</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYH3LtJmnyEXvWz-1_sEoTGZ2m8g1EUo</string>
	<key>GCM_SENDER_ID</key>
	<string>161518534901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expertis</string>
	<key>PROJECT_ID</key>
	<string>expertis-service</string>
	<key>STORAGE_BUCKET</key>
	<string>expertis-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161518534901:ios:97ab9b65e14103e9f105bc</string>
</dict>
</plist>